In [1]:
import  pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [24]:
data = pd.read_csv("./House_Rent_Dataset.csv")
data =  data.sample(frac=0.42)
testData = data[-1000:]

,Posted On,BHK,Rent,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact
2747,2022-07-04,2,45000,1650,2 out of 4,Carpet Area,Safdarjung Enclave,Delhi,Furnished,Bachelors,2,Contact Agent
1740,2022-05-25,2,10500,600,3 out of 5,Super Area,Kodichikkanahalli Main Road,Bangalore,Semi-Furnished,Bachelors/Family,1,Contact Owner
1002,2022-04-29,1,25000,596,1 out of 7,Super Area,Kandivali West,Mumbai,Semi-Furnished,Bachelors/Family,1,Contact Owner
3367,2022-06-10,1,4200,490,3 out of 3,Super Area,"Villivakkam, Jawaharlal Nehru Road",Chennai,Semi-Furnished,Bachelors/Family,1,Contact Owner
1166,2022-06-23,2,40000,750,2 out of 8,Carpet Area,"Techno Park I, Kandivali East",Mumbai,Unfurnished,Family,2,Contact Agent
...,...,...,...,...,...,...,...,...,...,...,...,...
2727,2022-04-29,1,9000,500,1 out of 3,Super Area,Chhattarpur,Delhi,Unfurnished,Bachelors/Family,1,Contact Owner
1490,2022-07-06,2,45000,670,17 out of 22,Carpet Area,Chembur,Mumbai,Unfurnished,Bachelors/Family,2,Contact Agent
97,2022-06-23,2,10000,500,3 out of 4,Carpet Area,"Rabindra Pally, Keshtopur",Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
876,2022-06-30,4,250000,2000,33 out of 42,Carpet Area,"Imperial Heights, Goregaon West",Mumbai,Furnished,Bachelors,4,Contact Agent
1897,2022-06-20,1,9000,500,Ground out of 4,Super Area,Maruthi Sevanagar,Bangalore,Unfurnished,Bachelors/Family,1,Contact Owner